
.terminal-navbar {
    z-index: 100;
    padding: 25px;
    font-family: Fira Code;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #bd93f9;
    padding: 5px;
  }
  
  a:hover {
    background-color: #bd93f9;
    color: #282a36;
  }


.button-navbar {
  z-index: 100;
  padding: 20px;
  font-family: Fira Code;
  position: fixed;
  right: 0;
}

.nav-button {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: Fira Code;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #bd93f9;
  color: #bd93f9;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
