@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

body {
  font-family: 'Fira Code', monospace;
  background-color: #282C33;
  color: #ddd;
  padding: 20px;
  border-radius: 5px;
}

.terminal {
    border: 2px solid #bd93f9;
    padding: 40px;
    display: flex;
    background-color: #282C33;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.terminal h2 {
  color: #bd93f9;
}

.terminal form {
  margin-bottom: 20px;
  display: none;
}

.terminal form:first-child {
  display: block;
}

.terminal label {
  display: block;
  margin-top: 10px;
}

.terminal input[type="text"],
.terminal input[type="password"],
.terminal input[type="email"] {
  padding: 5px;
  font-family: 'Fira Code', monospace;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #bd93f9;
  color: #ddd;
  width: 100%;
  margin-bottom: 10px;
}

.terminal button {
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #bd93f9;
  color: #bd93f9;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.terminal button:hover {
  background-color: #bd93f9;
  color: #fff;
}

#toggle-form-button {
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #bd93f9;
  color: #bd93f9;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.home-button {
  float: right; /* Add float property to align at the top right */
  margin-right: 20px; /* Add margin to create space from the right */
  margin-top: 20px;
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  color: #bd93f9;
  transition: color 0.3s ease;
}

.home-button:hover,
#toggle-form-button:hover {
  background-color: #bd93f9;
  color: #fff;
}