@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

body {
    font-family: Fira Code;
    background: var(--background, #282C33);
    color: #ddd;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: #ffffff; /* Adjust the cursor color */
    animation: blink 0.8s infinite; /* Add blinking animation */
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.console {
    white-space: pre;
}

#welcome_screen {
    padding-top: 240px;
}

#home {
    text-align: center;
    padding: 80px;
}

#aboutme,
#schedule,
#contact {
    padding: 50px;
    width: 95%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.aboutme p {
    padding: 5px;
}

h2 {
    color: #bd93f9;
}

button {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-family: Fira Code;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #bd93f9;
    color: #bd93f9;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bd93f9;
    color: #fff;
}

.schedule table {
    border-collapse: collapse;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%; /* Set table width to 100% */
}

.schedule th,
.schedule td {
    padding: 10px;
    text-align: center;
}

.lunch-break {
    font-size: 20px;
    font-weight: bold;
}

.schedule th,
.schedule td {
    padding: 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.schedule td:hover {
    background-color: #9f79d462;
}

.contact-terminal h3 {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #2f394b;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

.license {
    margin-top: 10px;
}