@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* --------------------Line  ---------------------- */

.line_bottom {
    width: 100%;
    height: 1px;
    background-color: #d4d2d0;
    border: none;
    margin: 0.75rem 0 0;
}


/* ----------------Slider---------------------*/

img {
    vertical-align: middle;
}

.logoimg {
    margin-left: auto;
    margin-right: auto;
    width: 76%;
    display: block;
    border-radius: 10px;
}

.Settings {
    margin-left: 75%;
    margin-right: auto;
    margin-top: -4%;
    display: block;
    width: 20%;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    object-fit: cover;
    margin-left: 21%;
    margin-top: -90px;
    border: 5px solid #fff;
}

.name {
    margin-top: 1%;
    margin-left: 21%;
    font-size: 1.25rem;
    /* size: 10px; */
    font-family: sans-serif;
}

.strand {
    margin-top: 1%;
    margin-left: 21%;
    font-size: 1.25rem;
    color: #777;
}

hr {
    width: 75%;
}


/* ///////////////////////////////////Search Bar //////////////////////////////// */


/* -------------------------line button----------------------------- */

.css-1ld7x2h {
    background-color: #d4d2d0;
    margin: 0.75rem 0 0;
}

.css-1ld7x2h {
    box-sizing: border-box;
    height: 1.5rem;
    min-width: 0;
    width: 0.0625rem;
}


/* ----------------------------company review---------------- */

button,
.button {
    display: inline-block;
    padding: 16px 35px;
    background: #103c8a;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

button:hover,
.button:hover {
    background: #1550b8;
    color: #fff;
}


/* --------------------------------sub footer----------------------------- */

.sub-footer {
    background: #1e1e1e;
    text-align: center;
    font-size: 14px;
    color: gray;
    padding: 10px 0px;
    position: fixed;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    bottom: 0;
}


/* -----------------------------Star Rating------------------------- */